*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color: #FD6E0A;
}
.btn-primary{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border: 0px;
    padding: 18px 35px;
    border-radius: 5px;
    background-color: #FD6E0A;

}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* header and navigation style */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav{
    display:flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* bannar styles */
.bannar{
    display: flex;
    align-items: center;
    margin: 0px 200px;
}
.bannar-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.bannar-title{
    font-weight: 700;
    font-size: 85px;
}
.bannar-discription{
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0px auto;
}
/* about section styles*/
.about{
    /* margin: 0px 386px; */
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 156px;
    text-align: center;
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    text-align: center;
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-title{
    font-size: 20px;
    color: #757575;

}
.about-info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}